# History files
.Rhistory
.Rapp.history

# Emacs edit backups
*~

# Example code in package build process
*-Ex.R

# object files
*.o

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
