import(spatstat)
import(spatstat.utils)
import(globe)
import(stats)
importFrom("graphics", "contour.default", "plot")

## C code entry points

useDynLib(spherstat,
          "kisocapweights",
          "kisobandweights",
          "dkisocap",
          "dkisoband",
          "dwkisocap",
          "dwkisoband",
          "RcallPtInSphPoly",
          "Rpolyarea")

# exported functions

export("allcoords")
export("allstats.sphwin")
export("anova.sphppm")
export("area.sphwin")
export("bdist.sphwin")
export("birth.sphwin")
export("coef.sphppm")
export("convert.globe")
export("convert.sphereplot")
export("convert2")             
export("convert3")
export("crossdistsph")
export("cround")               
export("cumtab")
export("death.sphwin")
export("eroded.areas.sphwin")  
export("envelope.sp2")  
export("envelope.sphppm")  
export("Fsphere")
export("Fstab.sphwin")
export("Finv.sphwin")
export("fitted.sphppm")
export("formula.sphppm")
export("gcdist")               
export("gcdistPaired")
export("gridmat")
export("gridmat.nlon")         
export("Gsphere")
export("Gstab.sphwin")
export("Ginv.sphwin")
export("in.W")
export("in.W.poly")            
export("intcircs")
export("intensitysph")
export("is.poisson.sphppm")
export("is.stationary.sphppm")
export("Jsphere")              
export("Kiso")
export("Kisoband")
export("Kisobc")               
export("Kisocap")
export("Kisoengine")           
export("Kisopoly")
export("Kisopolyengine")
export("Kisoquad")             
export("Kisowedge")
export("Kisowedgeengine")
export("Ksphere")    
export("Kstab.sphwin")
export("Kinv.sphwin")          
export("mindist.band")
export("mindist.polygon")
export("neighbourcount")       
export("nncrosssph")
export("nndistsph")
export("pairdistsph")
export("plot.sphwin")
export("plot.sphppm")
export("plot.sp2")
export("plot.sp3")
export("polysph.area.W")
export("polysph.area.Wr")
export("polysph.area.Wr.exact")
export("polysph.area.Wr.grid")
export("polysph.area.Wr.int")
export("predict.sphppm")
export("print.sp2")            
export("print.sp3")
export("print.sphppm")
export("print.sphwin")
export("ptinsphpoly")
export("quadtopoly")           
export("rdiscunif")
export("rFisher")
export("rHardcore.sphwin")        
export("rMatClust.sphwin")
export("rMaternI.sphwin")
export("rMaternII.sphwin")        
export("rotate.sphwin")
export("rotate.sp2")
export("rotate.sp3")
export("rot.matrix")
export("rot.sphere")
export("rot.sphere2")
export("rpoispp.sphwin")          
export("rStrauss.sphwin")
export("rThomas.sphwin")
export("runif.band")           
export("runif.bandcomp")
export("runif.polygon")
export("runif.quadrangle")     
export("runif.sphere")
export("runif.sphwin")
export("runif.wedge")
export("rWatson")
export("rWatson.bipolar")
export("rWatson.girdle")
export("simulate.sphppm")
export("sp2")
export("sp3")
export("sph.angles")           
export("sphcos")
export("sphppm")
export("sphsin")
export("sphwin")               
export("splitcaps")
export("sround")
export("summary.sp2")          
export("summary.sp3")
export("summary.sphwin")       
export("update.sphppm")       

## methods

S3method("print", "sphppm")
S3method("anova", "sphppm")
S3method("coef", "sphppm")
S3method("fitted", "sphppm")
S3method("formula", "sphppm")
S3method("plot", "sphppm")
S3method("predict", "sphppm")
S3method("simulate", "sphppm")
S3method("update", "sphppm")
S3method("is.poisson", "sphppm")
S3method("is.stationary", "sphppm")
S3method("envelope", "sphppm")

S3method("print", "sphwin")
S3method("plot", "sphwin")
S3method("summary", "sphwin")
S3method("rotate", "sphwin")
S3method("area", "sphwin")

S3method("print", "sp2")
S3method("plot", "sp2")
S3method("summary", "sp2")
S3method("rotate", "sp2")
S3method("envelope", "sp2")

S3method("print", "sp3")
S3method("plot", "sp3")
S3method("summary", "sp3")
S3method("rotate", "sp3")

