import(spatstat)
import(globe)

useDynLib(spherstat, "kisocapweights")

export("area.sphwin")
export("bdist.sphwin")
export("birth.sp2")
export("convert.globe")
export("convert.sphereplot")
export("convert2")             
export("convert3")
export("crossdistsph")
export("cround")               
export("cumtab")
export("death.sp2")
export("eroded.areas.sphwin")  
export("Fsphere")
export("Fstab.sph")
export("gcdist")               
export("gcdistPaired")
export("gridmat")
export("gridmat.nlon")         
export("Gsphere")
export("Gstab.sph")
export("Hsphere")              
export("Hstab.sph")
export("in.W")
export("in.W.poly")            
export("intcircs")
export("intensitysph")
export("Jsphere")              
export("Kiso")
export("Kisoband")
export("Kisobc")               
export("Kisocap")
export("Kisoengine")           
export("Kisopoly")
export("Kisopolyengine")
export("Kisoquad")             
export("Kisowedge")
export("Kisowedgeengine")
export("Ksphere")              
export("mindist.band")
export("mindist.polygon")
export("neighbourcount")       
export("nncrosssph")
export("nndistsph")
export("pairdistsph")          
export("polysph.area.W")
export("polysph.area.Wr")
export("polysph.area.Wr.exact")
export("polysph.area.Wr.grid")
export("polysph.area.Wr.int")
export("print.sp2")            
export("print.sp3")
export("print.sphwin")
export("quadtopoly")           
export("rdiscunif")
export("rFisher")
export("rHardcore.sp2")        
export("rMatClust.sp2")
export("rMaternI.sp2")
export("rMaternII.sp2")        
export("rot.matrix")
export("rot.sphere")
export("rpoispp.sp2")          
export("rStrauss.sp2")
export("rThomas.sp2")
export("runif.band")           
export("runif.bandcomp")
export("runif.polygon")
export("runif.quadrangle")     
export("runif.sphere")
export("runif.sphwin")
export("runif.wedge")          
export("sp2")
export("sp3")
export("sph.angles")           
export("sphcos")
export("sphsin")
export("sphwin")               
export("splitcaps")
export("sround")
export("summary.sp2")          
export("summary.sp3")
export("summary.sphwin")       

S3method("area", "sphwin")
S3method("print", "sp2")
S3method("print", "sp3")
S3method("print", "sphwin")
S3method("summary", "sp2")
S3method("summary", "sp3")
S3method("summary", "sphwin")
